.custom-radio {
    margin-bottom: 1rem;
}

.custom-radio .form-check-label {
    font-weight: 500;
}

.edit-vacation-form {
    max-width: 500px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: rgba(140, 218, 213, 0.1);  /* Very light, translucent version of #8cdad5 */
    border: 2px solid #8cdad5;  /* Updated color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #8cdad5; /* Updated color */
}

.image-preview {
    text-align: center;
    margin: 1.5rem 0;
    border: 1px solid #007b7f4f;
}

.image-preview img {
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-group button {
    background-color: white;
    color: #8cdad5; /* Updated color */
    border: 1px solid #007b7f4f;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.button-group button:hover { 
    background-color: #f0f0f0;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 123, 127, 0.1);
}

.form-group {
    margin-bottom: rem;
}

.edit-vacation-form button {
    background-color: white;
    color: #8cdad5; /* Updated color */
    border: 1px solid #007b7f4f;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    padding: 8px 16px;
    margin: 10px;
}

.edit-vacation-form button:hover {
    background-color: #8cdad5; /* Updated color */
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 123, 127, 0.1);
}