.login-button {
    background-color: #A7D8FF; /* Updated to match navbar */
    color: #4B95D1; /* Darker shade for contrast */
    border: 1px solid transparent; /* No border */
}
.login-button:hover,
.login-button:focus {
    background-color: #4B95D1; /* Darker shade of #A7D8FF */
    color: white;
    border: 1px solid #4B95D1;
}
