.custom-radio {
    margin-bottom: 1rem; /* Space between radio buttons */
}

.custom-radio .form-check-label {
    font-weight: 500; /* Make label bold */
}
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; /* Add some space at the top if needed */
}

.pagination-container .MuiPagination-ul {
    display: flex;
    justify-content: center;
}
